body {
    color: #000000;
    font-family: "lato";
    font-size: 18px;
    line-height: 25px;
    font-weight: 300;
    font-style: normal;

}

.container {
    width: 1116px;
    margin: 0 auto;
}



.display-none {
    display:none;
}

.header {
    padding: 22px 0 31px;
}

.header-title {
    color: #005FA3;
    font-family: 'Merriweather';
    font-size: 36px;
    line-height: 50px;
    font-weight: 900;

}

.header-contact-link {
    text-decoration: none;
}

.header-contact-text {
    color: #000000;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
}

.header-nav-link {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.header-flex {
    display:flex;
    justify-content: space-between;
}

.header-contacts-flex {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-logo-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.header-logo {
    width: 40px;
    height: 40px;
    margin:0;
    padding:0;
}
    
.desc {
    background-color: #2c2c2c;
    background-image: url(../img/first-screen-bkg.jpg);
    padding: 170px 0;
}

.desc-title {
    margin: 0 0 131px;
}

.desc-title,
.desc-link {
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 66px;
    font-family: 'Merriweather';
}

.desc-link {
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    line-height: 34px;
    background: #005FA3;
    width: 333px;
    min-height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.service {
    background: #EBEBEB;
    padding: 140px 0;
}



.section-title {
    color: #BDBDBD;
    font-size: 24px;
    font-weight: 900;
    line-height: 33px;
    margin: 0 0 40px;
}

.section-sub-title {
    color: #1C1C1C;
    font-family: 'Merriweather';
    line-height: 69px;
    font-size: 48px;
    font-weight: 900;
}

.section-sub-title-blue {
    color: #005FA3
}

.service-subtitle {
    margin: 0 0 102px;
}

.service-item-link {
    background-image: url(../img/services-bkg.jpg);
    background-size: cover;
    text-decoration: none;
    width: 350px;
    min-height: 360px;
    display:flex;
    align-items:flex-end;
    padding: 45px;
    box-sizing: border-box;
}


.service-item-title {
    color: #FFF;
    font-size: 24px;
    font-weight: 900;
    line-height:24px;
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.service-item:nth-of-type(n+4) {
    margin: 30px 0 0;
}

.button {
    color: #FFF;
    font-weight: 400;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit; 
    background-color: #005FA3;
    border: none;
    box-sizing:border-box;
    padding: 0;
}

.review {
    padding: 174px 0 120px;
}

.review-title-wrp {
    display:flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 0 67px;
} 

/* .review-list {
    display:flex;
    justify-content: space-between;
} */

.review-item {
    background-color: #EBEBEB;
    padding: 45px 95px;
}

.review-item-text {
    color:#000000;
    margin: 0 0 58px;
}

.review-item-author {
    color: #000;
    font-weight: 900;
}

.review-item-position {
    color: #4F4F4F;
    font-weight: 400;
    line-height: 19px;
    font-size: 14px;
}

.review-button {
    width: 270px;
    min-height: 60px;
}

.review-slider-button {
    width: 10px;
    height: 10px;
    background-color: #005FA3;
    padding: 0;
    border: 0;
    border-radius: 50%;
    opacity: 0.4;
}


.review-slider-arrow {
    width: 60px;
    height: 60px;
    opacity: 0.2;
    background-color: #005FA3;
    padding: 0;
    border: 0;
}

.review-slider-button-active {
    opacity: 1;
}

.about{
    padding: 140px 0 140px;
}

.flex {
    display:flex;
}

.half-width {
    width:50%;
}

.wrp-padding {
    padding: 0 0 0 15px;
}

.about-subtitle {
    margin: 0 0 60px;
}

.about-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 30px;
}


.about-item {
    background: #EBEBEB;
    width: 255px;
    height: 255px;
    box-sizing: border-box;
}


.about-item-active {
    background: #005FA3;
    color:#FFFFFF;
}

.about-item-active a {
    color: #FFFFFF;
}


.about-item-header {
    font-weight: 700;
    line-height: 18px;
    font-size: 14px;
    margin: 0 0 47px;
}

.about-item-link {
    line-height: 17px;
    font-size: 14px;
    font-weight:700;
    color: #005FA3;
}

.about-item-num {
    line-height: 66px;
    font-size: 55px;
    font-weight: 900;
    margin: 0 0 30px; 
}

.about-desc{
    width: 445px;
}

.advantage {
    background-color: #EBEBEB;
    padding: 102px 0 116px; 
}

.advantage-sub-title {
    margin: 0 0 27px; 
}

.advantage-desc {
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
}

.advantage-list {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    /* text-align: center; */
}

.advantage-item {
    width: 348px;
    min-height: 316px;
    padding: 80px 0 37px;
    align-items:center;
    display:flex;
    flex-direction:column;
    box-sizing:border-box;
}

.advantage-photo{
    width: 132px;
    height: 126px;
    margin: 0 0 20px;
}

/* .item-advantage {
    width: 348px;
    min-height: 316px;
} */

/* .medal {
    padding: 80px 108px 0;
} */

/* .run-man {
    padding: 83px 108px 0;
}

.expert {
    padding: 82px 108px 0;
} */


.form-contact-wrp {
    display:flex;
    justify-content: space-between;
    margin: 0 0 35px;
}

.input-label {
    display:block;
    font-family: Lato;
    font-size: 16px;
    line-height: 22.08px;
    margin: 0 0 15px; 
}

input {
    width:255px;
    padding: 4px 0 15px;
    border:none;
    border-bottom: 1px solid #FFFFFF;
    background-color: transparent;
    font-family: inherit;
    font-size: 21px;
    font-weight: 300;
    line-height: 29px;
    color:#FFF;
}

input::placeholder, textarea::placeholder {
    color: #BDBDBD;
}

textarea {
    padding: 4px 0 15px;
    width: 100%;
    min-height: 105px;
    resize:none;
    border:none;
    border-bottom: 1px solid #FFFFFF;
    background-color: transparent;
    box-sizing:border-box; 
    margin: 0 0 50px;
    font-family: inherit;
    font-size: 21px;
    font-weight: 300;
    line-height: 29px;
    color:#FFF;
}

.form-button {
    display:block;
    width: 270px;
    min-height: 60px;
    margin: 0 0 0 auto;
}

.footer-bkg {
    background-color: #07090b;
    color: #FFF;
    background-image: url(../img/form-bkg.jpg);
}

.white {
    color:#FFF;
}

.footer-contact-text {
    line-height: 29px;
    font-size: 21px;
    color:#FFF;
}

.footer a {
    text-decoration: none;
}

.footer-text {
    line-height: 19px;
    font-size: 14px;
    font-weight: 300;
}

.footer-wrp {
    padding: 122px 0 140px;
}

.footer-subtitle {
    margin: 0 0 60px; 
}

.footer-questions{
    margin: 0 0 80px;
    width: 445px;
}

.footer-about {
    padding: 50px 0;
    display:flex;
    justify-content: space-between;
}

.footer-list-item-1 {
    margin-left: 32px;
}
.clients {
    padding: 85px 0 92px; 
    background:#EBEBEB;
    
}

.clients-sub-title {
    margin: 0 0 48px;
}

.clients-title {
    margin: 0 0 43px;
}

.clients-list {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}


.popup {
    background-color: #000000B2;
}

.popup-container {
    width: 733px;
    min-height: 636px;
    margin: 0 auto;
    background-color: #262626;
}

.form-container {
    width: 543px;
    margin: 0 auto;
}

.review-popup-wrp {
    display:flex;
    box-sizing: border-box;
    justify-content: space-between;
    /* align-items:flex-end; */
}

.review-popup-wrp-radio {
    display:flex;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items:flex-end;
    gap:33px;
}

.style-paragraph {
    margin:0 auto;
} 


.radio-review {
    display: flex;
}

.radio-label {
    display:flex;
    align-items:center;
}

/* .radio-label input {
    margin-right: 5px;
} */

input[type="radio"] {
    width: 11px;
    height: 11px;
}